.link{
    font-size: 1.25rem;
    line-height: 1rem;
    /* color: #1a659e; */
    font-family: serif;
    font-weight: 600;
    padding: 0 0 25px 0;
}

.linkDestacado{
    text-decoration: underline;
}