@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

.link {
    font-family: "Orelega One", serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1rem;
    color: #C4381D;
}

.linkDestacado {
    text-decoration: underline;
}